[2014-12-09 07:11] bee80 opened #2 "Cant launch the playground"
hi, im using ubuntu 14.04(64) on virtualbox with win 7 64 as host, the ovm doesnt seem to work on windows so i tried to build myself on ubuntu. I get as far as ./launch and recieve these errors:

2014-12-09 06:52:06--  ftp://ftp.nl.netbsd.org/vol/2/metalab/distributions/tinycorelinux/4.x/x86/tcz/bridge-utils.tcz
           => â€˜bridge-utils.tczâ€™
Resolving ftp.nl.netbsd.org (ftp.nl.netbsd.org)..

[2014-12-20 11:14] simkus9 opened #3 "Can't launch VM"
Failed to open a session for the virtual machine playground-vm.

NamedPipe#0 failed to bind to local socket /home/brandon/.boot2docker/boot2docker-vm.sock (VERR_FILE_NOT_FOUND).

Result Code: NS_ERROR_FAILURE (0x80004005)
Component: Console
Interface: IConsole {8ab7c520-2442-4b66-8d74-4ff1e195d2b6}

[2015-01-14 16:23] sjdaigle commented on #3
Same error here, running Network Playground 1.0 (Oct. 25 release) on VirtualBox 4.3.20 r96966 on OS X 10.9.5.

[2015-01-15 03:10] brandon-rhodes commented on #3
Thanks for letting me know that you are having the problem too, @sjdaigle! I have been on the road this last month, but should soon be back home and have access to a machine that is much better at spinning up virtual machines than this tiny travel laptop that I carry. (Hmm — though if things work fine, then I guess I will have to try to find a Mac to try the Playground on!)

[2015-01-16 01:26] sjdaigle commented on #3
Hi Brandon,

Thanks so much for the follow up email! I am very excited about your book and about the whole concept of simulating the Internet, end users and websites with 12 VMs. I am new to Python but programmed professionally for about 3 years on small projects 20 years ago. Your approach resonated with me so I am looking forward to getting the playground up and running!

Best,

Steve

Sent from

[2015-01-28 15:26] isaacroehm opened #4 "Can't connect on OS X"
Hello,

I got the playground to run on VirtualBox 4.3.20 on OS X by adding a local host adapter in VirtualBox settings and disabling the serial adapter. The host only adapter is set to 192.168.56.1 and I can't change the third octet to anything besides starting with a 5. I try ssh -p 220x brandon@localhost from terminal and am unable to connect. What should I change, need to add etc to get connect

[2015-01-31 23:56] jgoerzen commented on #3
That error can be trivially worked around by disabling the serial port in the VM config.  However, the bigger issue is that the included disk image is not actually bootable.  It seems to lack a proper bootloader and kernel.

[2015-02-01 00:03] jgoerzen commented on #3
It appears that the missing bit here is to download boot2docker.iso from https://github.com/boot2docker/boot2docker/releases and attach it to the VM config before booting the VM, as the VMDK does not contain an OS.  That fixes it!

[2015-02-14 23:09] michealbeatty opened #5 "How to connect to playground"
I've got the playground-VM running but I don't see how to connect to it. The instructions just say to use SSH but no info on an address to connect to. I've tried to guess at the proper address based on the information in the README but have had no luck. Am i missing something or are the instructions just that vague?

[2015-06-10 00:28] ghost commented on #3
Any further movement on this issue?  Excited to get the playground up and running on OSX.  I have boot2docker and the playground 1.0 ova, but the system does not start properly and generates the same errors.

[2015-07-04 14:50] tomkregenbild opened #6 "Unable to properly start the image on a windows host"
I am using Virtualbox in order to run the playground on a windows 8.1 machine.
I downloaded the image, imported and started it and I do see that I get my machine to listen on forwarded ports. When I connect using Putty (localhost:2201) I just get a black screen, it is not disconnecting but I am unable to do anything on these ports.

When I look at the console in virtualbox I just see a black scree

[2015-07-07 05:43] tomkregenbild commented on #6
Checked it also on windows 7 with virtual box and the result was the same

[2015-07-17 16:43] ghost commented on #3
So how do you fix this issue then?

[2015-08-04 02:15] brandon-rhodes commented on #5
I am not sure, from your description, how far you have progressed in the instructions, but every `ssh` command that I see in the README includes the complete command line including the hostname. Here are all four of them:

[code]

Is the command that is giving you trouble one of these? Or does the README mention another ssh command that it fails to spell out or cite? If so, please quote the senten

[2015-08-05 00:45] michealbeatty commented on #5
Re-reading the README, I understand now what you were saying. For some reason I thought the `brandon@localhost` was just an example and that it should be replaced with something else. I guess my frustration really was born out of the fact that I am unable to connect to the playground and I just assumed I was misunderstanding the instructions.

I still can't connect to the playground but it has not

[2015-08-05 00:51] michealbeatty commented on #4
I am unable to connect using OS X as well. What is the result of running the ssh command with the -v flag? For example, `ssh -v -p 2201 brandon@localhost`

[2015-08-10 21:25] fractal76 opened #7 "errors starting vm on windows 7"
[code]

Error:

[code]

[2015-08-17 18:20] brandon-rhodes commented on #7
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:20] brandon-rhodes commented on #6
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:20] brandon-rhodes commented on #5
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:20] brandon-rhodes commented on #4
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:20] brandon-rhodes commented on #3
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:21] brandon-rhodes commented on #2
All right!

After months of trying to work around this problem — and after several conversations with people who have more experience with virtualization than I do — I have deprecated my original scheme of distributing a bare VirtualBox image and expecting it to run across multiple operating systems correctly, especially with network forwarding turned on.

I have just rebuilt, repackaged, and re-u

[2015-08-17 18:23] tomkregenbild commented on #6
Thanks a lot, I'll check it as soon I'll some spare time. Really appreciate it.

[2015-08-17 23:34] michealbeatty commented on #4
Getting a message when running

`vagrant up --provider virtualbox`

that the version of Virtualbox I have installed is not supported. I'm running Virtualbox 5.x and only 4.x is supported. I can try rolling back to 4.3 to see if it works.

[2015-08-17 23:53] michealbeatty commented on #4
...and after downgrading to Virtualbox 4.3 the playground is working fine. Thank you for finding a solution for us.

[2015-08-18 03:30] ghost commented on #3
I have this working on the first try, on OS X 10.10.5, Vagrant 1.7.2, Virtualbox 4.3.30.  All example commands in the README file were executed and returned the expected results.

[2015-08-18 03:49] brandon-rhodes commented on #3
WONDERFUL! Sorry that this took so long, everyone — virtualization across multiple platforms is not my specialty and it was a bit of reach for me to have tried this in the first place. I am going to close this particular issue, but please open a new one if the new scheme fails for you, including the error message so that I can try tackling it — thanks!

[2015-08-18 03:49] #3 closed, assigned to brandon-rhodes

[2015-08-18 03:50] brandon-rhodes commented on #4
You are welcome! I am a bit surprised that Vagrant is a bit behind on Virtualbox versions, but given the problems that I myself had with getting a Virtualbox solution working, I would not be surprised if they are stalled on a bug in the 5.x series and are having to wait to upgrade. Thanks for being willing to downgrade to make this test, @amikiri!

I am closing this issue, but either of you is wel

[2015-08-18 13:21] risdenk commented on #4
@amikiri - You need Vagrant 1.7.3 or higher to work with Virtualbox 5.x. See the changelog here: https://github.com/mitchellh/vagrant/blob/master/CHANGELOG.md#173-july-10-2015

@brandon-rhodes - The Vagrant box works with the latest version of Vagrant (1.7.4) and Virtualbox (5.0.2) on Mac OS X 10.10.5.

[2015-08-18 14:12] michealbeatty commented on #4
confirmed that after updating to Vagrant 1.7.4 and Virtualbox 5, I am able to `vagrant up` thanks for the tip @risdenk

[2015-08-18 18:36] brandon-rhodes commented on #4
Thank you both for your reports! I am re-opening this issue until I update the docs with this information in case anyone else runs into problems with the combination of versions.

And, I am glad that you are both able to access the playground now!

[2015-09-21 05:39] hhsecond opened #9 "SSL read: error:00000000:lib(0):func(0):reason(0), errno 104"
Hi Rhodes,

It's been a privilege to use your product and study stuffs from there. Unfortunately I've come across to an error but could not find any easy solution from google. I am using ubuntu 14.04 Lts and virtualbox 5.x

I've executed "vagrant up --provider virtualbox" command and was waiting for it to complete. Then after around 80% I got this error.

 default: URL: https://atlas.hashicorp.com

[2015-11-04 12:06] Laharah opened #10 "chapter 2: UDP client broadcasts go to any server"
While reading the book, in chapter 2 in the section about UDP broadcasts (reading the e-book, so not sure the physical page number, sorry), it says that packets sent by the udp_broadcast.py client will be picked up by any instances of the udp_broadcast servers at the same time, which they are. But the book goes on to say that normal servers won't and that I could try running a few udp_remote insta

[2015-11-05 16:05] brandon-rhodes commented on #10
Since your e-book does not provide the printed page numbers, could you — so that I can find the exact sentence you are asking about — quote it verbatim for me, so that I can search my own version of the text to find the passage? Thanks!

[2015-11-05 16:11] Laharah commented on #10
sure:

[2015-11-11 17:21] altagore commented on #10
I had the same problem. The "remote" server receives messages from the "broadcast" client.

[2015-12-03 03:07] tommyc38 opened #11 "Can't get Vagrant box to communicate with host machine"
Hey Brandon,

I am sorry for posting this here but I searched a million ways to get in touch with you and this was the best way I could come up with.  I have your chapter 2 script download to by virtual box running Ubuntu 15 (guest machine) and also downloaded to my host computer (Macbook Pro).  I have tried both your local and remote scripts, both as client and server on both machines, but cannot

[2015-12-10 12:50] brandon-rhodes commented on #11
You might have to do a lot of experimentation with your VirtualBox configuration. There are many ways of setting up the virtual network adapter in VirtualBox which seem to result in the virtual machine and the real machine not being able to see each other — network connections originating from inside the virtual machine can reach outside to the rest of the world, but cannot see the host machine. Y

[2015-12-10 13:02] brandon-rhodes commented on #9
Alas! As I do not run the Hashicorp servers, I have no way to know why your connection might be failing. Is it difficult for you to perform very large downloads from anywhere else? Or is Hashicorp the only company from which downloads sometimes get cancelled?

[2015-12-10 13:02] #7 closed, assigned to brandon-rhodes

[2015-12-10 13:03] brandon-rhodes commented on #6
Please feel free to re-open this issue if you have further problems. Thanks!

[2015-12-10 13:03] #6 closed, assigned to brandon-rhodes

[2015-12-10 13:04] #5 closed, assigned to brandon-rhodes

[2015-12-10 13:04] #2 closed, assigned to brandon-rhodes

[2015-12-10 13:08] brandon-rhodes commented on #4
This was resolved in 0d849129 when I updated the documentation — but I forgot to come back here and close the issue! :)

[2015-12-10 13:08] #4 closed, assigned to brandon-rhodes

[2015-12-10 13:23] brandon-rhodes commented on #10
I conclude that the sentence in parenthesis is incorrect — even normal UDP servers, that have not opted-in to broadcast in any way, will see a broadcast packet if one appears on the local network. Which makes sense, and I am not sure how I could have thought otherwise? If another edition of the book is ever launched, I will make sure that the sentence gets updated!

[2015-12-10 21:05] Laharah commented on #10
Thanks so much for clearing it up! Really enjoyed the book, very helpful.

I recently moved to Portland, so am eagerly awaiting pycon '16 :)

[2016-01-24 05:04] #10 closed, assigned to brandon-rhodes

[2016-01-24 05:07] brandon-rhodes commented on #11
Since I have not heard anything back — and since I suspect that trying out the Network Playground will indeed solve your problem by giving you a collection of virtual machines that are correctly networked together such that all of the scripts in the book work and where all the network settings are correct — I am going to provisionally close this issue. But please do open it if you have something e

[2016-01-24 05:07] #11 closed, assigned to brandon-rhodes

[2016-01-26 11:54] clasnake opened #12 ""Building and Examining Packets"?"
Hi Brandon,
In the second last paragraph of the introduction of Chapter 2 - UDP, you mentioned the "Building and Examining Packets" section near the end of Chapter 1, which builds raw ICMP packets and receives an ICMP reply. But I don't see there's such a section. Am I missing something here or do you mean the "Packet Fragmentation" section?
Thanks.

[2016-01-26 18:33] brandon-rhodes commented on #12
I think that is an error that I failed to catch! I had originally planned to have Chapter 1 use Scapy to actually build and send IP packets so that readers would understand exactly what is inside a packet, but when I realized that this needed to be a Python 3 book and that Scapy only works under Python 2, I cancelled those plans — but apparently forgot to remove a reference to them from Chapter 2!

[2016-01-27 06:05] brandon-rhodes commented on #12
I have added the "book" label so that I can find this issue again if a new edition is planned. Thanks again — I will close this now, and find it later by label if the opportunity arises!

[2016-01-27 06:05] #12 closed, assigned to brandon-rhodes

[2016-02-15 07:42] pelo99 opened #13 "Python version used to compile the scripts"
Hey,

This is regarding your book using Python3. I happened to observe that most of the scripts you've written are being executed using the command 'python' instead of 'python3'. Assuming that you're not using an alias, 'python' on Ubuntu should point to python2 rather than python3. This would result in a wrong interpreter being used to run the scripts. Also, you're using the hashbang '#! /usr/bin

[2016-02-16 00:28] brandon-rhodes commented on #13
I agree!

[2016-02-16 00:30] brandon-rhodes commented on #13
Oh, and, I see where the problem came from:

https://github.com/brandon-rhodes/fopnp/blob/m/py3/tools/two.sh

My code to convert the old README files to the new ones only looked for the string `python2`, not bare `python` commands!

[2016-02-16 00:33] #13 closed, assigned to brandon-rhodes

[2016-02-16 00:34] brandon-rhodes commented on #13
There. Let me know if you find any more instances of this issue, and thanks for letting me know!

[2016-02-17 08:00] pelo99 opened #14 "Code Correction"
This is regarding the book on Python3. Found a couple of errors with the code provided in the book. Could not find the code in Github, hence reporting the page numbers in the book.

Page 63:

accept() method is supposed to return a tuple with the active connection being the first item. accept()[0] should have been used here. Unless you do that, the next statement would report an error. I wonder ho

[2016-02-17 19:57] brandon-rhodes commented on #14
Thank you! I have added the label "Book" to this issue so that, if the book is ever reprinted, I can include this information when the publisher asks for any Errata. I am going to close the issue — because there's nothing, if I understand you correctly, that I can do to the code in this repository to fix it — but be assured that when it's time for a new printing, I'll be searching for even closed

[2016-02-17 19:57] #14 closed, assigned to brandon-rhodes

[2016-04-10 05:20] paiitseng opened #15 "p.23 The "FAKE" Message Didn't Go Through"
Hi Brandon,

I was trying to simulate forging a response from the server by jumping in and sending datagram before the server has a chance to send its own reply. I ran the server on my Macbook terminal, suspended it by Ctrl + Z, ran the client, and then typed in the three code lines on python3. All I got is the 4 returned from sock.sendto but the terminal running client is still waiting for server

[2016-05-22 04:02] BrianKayWalker opened #16 "Fix for broken ./build.sh (fails), need to add code to the /base/Dockerfile"
For the life of me I couldn't get this to work (need to enable virtualization in the laptop bios).  I later learned a lot more about box'es and vagrant (below is how I build the playground with 15.04 vivid64).

The instructions work 100%, but if you don't know what you are doing you might get messed up, so here is a detailed overview, hope it helps.

Install git, virtualbox and vagrant (`sudo apt-

[2016-09-22 09:25] Telltak opened #17 "OSError with big_sender"
Python3 attempting to run big_sender.py gives OSError 22 Invalid argument for line 14

[2016-09-30 04:11] brandon-rhodes commented on #17
On my system it runs without an `OSError`:

[code]

You might be running into a limitation of your operating system — what OS and version are you running?

[2016-10-20 11:23] githubproguser opened #18 "The box 'ubuntu/vivid64' could not be found"
when I execute the "vagrant up --provider virtualbox"  command, I get that error.
after searching for a while I found that the the ubuntu/vivid64 has been removed from the website (https://atlas.hashicorp.com/ubuntu).

Someone on stackoverflow has propose a solution for downloading the same version of ubuntu :
http://stackoverflow.com/questions/35812321/vagrant-up-the-box-ubuntu-vivid64-could-not-

[2016-10-31 04:18] brandon-rhodes commented on #18
I guess I will have to switch to another version of Linux! Thanks for letting me know; I will try to get to this some time in November.

[2016-11-09 02:19] brandon-rhodes commented on #18
I just got the chance to try this myself, and it worked without any error.

[code]

Could you try again and see whether it was maybe a transient network error that caused your problem?

[2016-11-14 22:32] brandon-rhodes commented on #18
I am going to close this issue for now since the command succeeded for me, but if you are able to try again and it is still broken then feel free to re-open and we can try further steps to track down why it cannot find that box for you.

[2016-11-14 22:32] #18 closed, assigned to brandon-rhodes

[2016-11-14 22:34] brandon-rhodes commented on #17
I am going to tentatively close this since, without data on your operating system version, I cannot pursue a fix for this — but if you do make it back to this issue later, please feel free to re-open and let me know some more details and we'll try to track down what's wrong!

[2016-11-14 22:34] #17 closed, assigned to brandon-rhodes

[2016-11-14 22:49] #16 closed, assigned to brandon-rhodes

[2016-11-14 22:49] brandon-rhodes commented on #16
Thanks for the extended notes! I have linked to them from the main documentation so that others can benefit from them.

[2016-11-14 22:56] brandon-rhodes commented on #15
I am not sure why this is not working! On my Linux system, the `sendto()` arrives at the client just fine:

[code]

It looks tome that the reason is that you are sending to the wrong port. Your client is at port 56166 but, for reasons that I cannot quite discern, you instead send the fake package to port 37821 where probably no one is listening. Make the port numbers match, and that will probably

[2016-11-14 22:56] #15 closed, assigned to brandon-rhodes

[2016-11-14 23:09] brandon-rhodes commented on #9
I am going to close this temporarily until we can collect more information about the failure you encountered. If you learn more information and can post it here in a comment, please do so, and we'll work to get it resolved!

[2016-11-14 23:09] #9 closed, assigned to nobody

[2016-11-26 16:27] wefer opened #19 "Unused argument in tcp_deadlock.py"
On line 8 `def server(host, port, bytecount):` the server takes a `bytecount` argument that appears not be used inside the procedure.

[2016-11-30 12:48] brandon-rhodes commented on #19
Have you tried removing the argument and running the server? :)

[2016-12-01 09:39] wefer commented on #19
I see what the problem is :)

Maybe `def server(host, port, *args):` is better then? Since it might make it more clear that the server is unaware/indifferent of how many bytes it will receive from the client.

[2016-12-02 04:14] #19 closed, assigned to brandon-rhodes

[2016-12-02 04:15] brandon-rhodes commented on #19
I have made the problem go away entirely by simply calling the server and client with different arguments in the first place. I'm not sure what that didn't occur to me when you first brought up the issue! But thanks for pointing it out, and hopefully this small readability win will help a few readers from being more confused than they need to be. Thanks!

[2016-12-03 22:15] wefer commented on #19
Thanks for a great book!

[2016-12-16 09:31] phoenixic opened #20 "SocketServer request_queue_size"
In the book, you recommended against using this because you can not limit the number of connected clients. From reading the documentation, we can set '[request_queue_size](https://docs.python.org/3/library/socketserver.html#socketserver.BaseServer.request_queue_size)'  which says:

_The size of the request queue. If it takes a long time to process a single request, any requests that arrive while t

[2016-12-22 12:50] brandon-rhodes commented on #20
Alas, the "request queue size" is merely the argument that the library passes to the operating system `listen()` call:

https://github.com/python/cpython/blob/ee1a81b77444c6715cbe610e951c655b6adab88b/Lib/socketserver.py#L475

If you search the source code, you will see that no further use of the request queue size is made anywhere else. While the `ForkingMixIn` does have logic to limit the number

[2016-12-22 12:50] #20 closed, assigned to nobody

[2017-01-13 04:19] mingsterism opened #22 "docker: Error image fopnp/base:latest not found"
Hi,
I got this error after running
`./build.sh`
`./launch.sh`

[code]

appreciate any help
Thanks

[2017-01-13 05:00] mingsterism commented on #22
I got it working already :)

[2017-01-13 05:00] #22 closed, assigned to nobody

[2017-01-14 17:56] brandon-rhodes commented on #22
Wonderful! Feel free to leave a comment with what the issue was, in case anyone else runs into this error message and can't guess how to get past it.

[2017-05-18 20:35] pmav99 opened #23 "Can't generate localhost.pem"
Not sure if this is a bug or not, but anyway:
[code]
results in :
[code]
And `localhost.crt` is empty.

[code]

[2017-05-18 20:40] pmav99 opened #24 "chapter06/safe_tls.py does not work with Python 3.6"
The server:
[code]

The client:
[code]

At the same time, using python3.4 works just fine
[code]
I guess that this is normal behavior and that the fix is to regenerate the certificates.

[2017-05-24 21:43] brandon-rhodes commented on #23
Rebuilding the certificate is not a supported workflow, but I did a quick web search and it does look like it's a possible operation if you do some work on the database that openssl builds. Here's a link — I think it will get you moving again!

https://stackoverflow.com/questions/9496698/how-to-revoke-an-openssl-certificate-when-you-dont-have-the-certificate

[2017-05-24 21:43] #23 closed, assigned to nobody

[2017-05-25 10:53] pmav99 commented on #23
Thanks for the answer and the link. Perhaps I should have clarified that I run into this bug after trying to find a workaround for #24

[2017-05-27 23:17] a-eid commented on #9
I am experiencing the same problem?

[code]

[2017-06-20 03:23] Anderson-2 commented on #24
you shoud download the localhost.pem first.

[2017-06-20 03:30] song-wei opened #25 "opnp / py3 / chapter07 / client.py not work with python3.6"

[2017-06-20 06:39] #25 closed, assigned to nobody

[2017-06-20 07:49] chashisu opened #26 "IN means？"
Is IN is a module?

[2017-07-01 22:36] brandon-rhodes commented on #26
Yes! “IN” containers the "Internet" symbols under Python 2 or Python 3.

[2017-07-02 15:19] brandon-rhodes commented on #24
I am confused in the other direction: about why it works without error on Python 3.4, since `unknown ca` seems a very reasonable response from the client since it indeed has no way to recognize the CA as a valid one. To get the client to accept the server's certificate, you need to provide the CA as the client's base trusted authority — try this and see how it behaves under Python 3.6 on your syst

[2017-07-03 09:29] song-wei commented on #24
[root@cacti geo_env]# /usr/local/python3/bin/python3.6   safe_tls.py  -a ca.crt localhost 1060
Connected to host 'localhost' and port 1060
b'Simple is better than complex.'

[2017-07-03 13:21] brandon-rhodes commented on #24
It worked — wonderful! Are there any further issues we should resolve before closing this issue, do you think?

[2017-07-04 00:32] song-wei commented on #24
I'm ok with this chapter, you can close it. Thank you.

[2017-07-04 03:36] #24 closed, assigned to nobody

[2017-08-02 07:03] lucifer-v commented on #26
Help, I use python3.6.1, but when I import IN module, it ocurrs " No module named 'IN' "

[2017-08-04 13:24] brandon-rhodes commented on #26
Alas, it looks like they removed it from Python 3.6!

https://twitter.com/grelleum/status/893140086153502725

I wonder if I should just copy the value into the source from my system file:

`/usr/src/linux-headers-4.10.0-28/include/uapi/linux/in.h`

There's nowhere else to get this value, like `/proc` or `/sys`, is there?

[2017-08-04 13:54] #26 closed, assigned to brandon-rhodes

[2017-08-30 13:55] tdarrow commented on #16
Can this be set up to run on ESXi?

[2017-09-01 09:56] brandon-rhodes commented on #16
I don't know — alas, I don't have any experience with ESXi.

[2017-09-28 19:21] AllanRPereira commented on #22
How did you solve it?
I have the same problem

[2017-11-01 19:56] BewareMyPower opened #27 "Vagrant stuck on 'SSH auth method: private key'"
OS: Ubuntu 16.04
After sudo apt-get install virtualbox and vagrant, I entered following commands:
[code]
and then stuck on 'default: SSH auth method: private key'
Here's the error message:
[code]

[code]

[2017-11-06 03:07] ka1n4t opened #28 "how to install it on windows?"

[2017-11-06 03:20] ka1n4t commented on #28
I'm so stupid... I've done.

[2017-11-06 03:20] #28 closed, assigned to nobody

[2017-11-09 12:27] prinwis commented on #22
@AllanRPereira I meet the same problem too. My solution is remove the vm image in virtualbox and reinstall (vagrant up again), and it behave normal. But I don't know why. I use a proxy to download the docker file, so maybe it is related to the proxy, cancel your proxy setttings before you reoperate. I hope it works for you.

[2017-12-05 05:43] brandon-rhodes commented on #27
(I have been preparing for a conference but am done now — so am returning to my GitHub backlog!)  When SSH isn't letting you connect to the virtual machine, you may need to bring up the virtual machine console using the GUI in order to see if an error message is displayed telling you what the problem is. Are you able to bring up the VM's console?

[2017-12-08 12:48] BewareMyPower commented on #27
~~I have just found that my virtualbox can only run a 32-bits guest, and I am sure intel virtualization in BIOS is enabled. I also removed Hyper-V, but it's still not working.~~
[code]

OK, finally I've found where the problem is.
My Ubuntu 16.04 is a guest machine on VMware Workstation, the virtualbox in it doesn't support 64-bits guest (but I don't know why).
Then I try to install virtualbox on

[2017-12-25 20:56] Mohakhairy commented on #16
How can I run the Playground on Ubuntu 16.04 (No Virtualmachine/VirtualBox)

[2017-12-29 15:39] brandon-rhodes commented on #16
@Modagiri — If you have Docker installed, it's possible you could skip down to the "Building the Playground" section of the README and follow the instructions for `./build.sh` and `./launch.sh`.

[2018-01-15 01:10] brandon-rhodes commented on #27
I'm so glad my reply was helpful, and that you got it to work!

[2018-01-15 01:10] #27 closed, assigned to nobody

[2018-03-16 05:17] upangka commented on #16
What's error???

vagrant@vagrant-ubuntu-trusty-64:~$ ./launch.sh
++ dirname ./launch.sh
+ cd .
+ grep -q docker
++ groups
+ echo vagrant
+ sudo adduser vagrant docker
adduser: The group `docker' does not exist.

[2018-03-17 08:06] janus commented on #16
I changed "from 14.04" to "from 16.04" and added the needed  libffi-dev and libssl-dev. I also changed the Vagrant file to xenial64. I was able to get started, I got build.sh and launch.sh up and running. I was able to do "ssh h[1-4]" but I have to manually copied ssh-config. But ssh www and their like failed. I noticed that they were no more included in the ssh-config file. But traceroute www.exa

[2018-03-17 08:10] janus commented on #16
@Q10Viking
cd to playground and run ./build.sh there?
BTW what is the issue you faced?

[2018-05-28 03:42] zseusz commented on #16
Brendon, thanks so much for your Playground - its on another level.
Please any one know how to install the playground box on a Windows 10 system running either VMware or VirtualBox. Much appreciated.

[2018-05-28 12:02] brandon-rhodes commented on #16
For folks following this thread — someone pointed out to me recently that a few instructions were out of date in the various README files, so I've gone through and have made sure that none of the files still talks about the "play.sh" script, since it's been replaced with plain SSH as the way to connect to one of the playground hosts h1 through h4.

[2018-08-31 22:51] zhammer opened #30 "Chapter 06: lib.SSL_get_version segfaults on python3.6.6 darwin 16.7.0"
I'm getting a segfault on my mac osx on the following line: https://github.com/brandon-rhodes/fopnp/blob/2c1d0fcb97560394d0fa52eead317567b1f02504/py3/chapter06/test_tls.py#L81.

### `SSL_get_version` with debug prints
[code]
### `test_tls.py` output:
[code]

### System info:
[code]

### Notes
I'm not familiar with ctypes or the ssl library, so I wasn't able to do much debugging on my end. Let me k

[2018-09-03 17:42] brandon-rhodes commented on #30
Thanks for the report! I'm not sure how soon I'll get the chance to dig in and debug this, but the big question will be whether this depends on the operating system (Mac vs Linux) or whether the struct underlying Python 3.6 is different and my ctypes code — which hand-copies the shape of the C language struct as I read it out of the SSL `.h` file in the Python source code — needs to be updated and

[2019-02-05 15:00] jauerb opened #31 "Chapter 1 examples no longer work"
The examples in Chapter 1 no longer work, because

(a) The Google Geocoder API  now requires an API key, and (b) it now requires all requests to be made over https

I have made a fix in my fork of the repo (For Python 3 at least) that will work as soon as a valid API key is placed in a text file in the same directory.  Please, let me know if you would like me to make a pull request.

[2019-02-06 02:27] brandon-rhodes commented on #31
Thanks for letting me know! I'd prefer to point users at a different service that doesn't provide API keys. When I get the chance, I'll search to see if there are any geolocation services that don't require one yet.

[2019-02-10 20:37] #31 closed, assigned to brandon-rhodes

[2019-02-10 20:38] brandon-rhodes commented on #31
Thanks again for pointing out that these scripts were broken. I've rewritten them (well, the Python 3 examples; I'll leave it to another contributor, maybe at a conference sprint sometime if not before, to translate them to Python 2) to use the Open Street Maps project — let me know if you have any trouble now that they're pointed at another service!

[2019-02-11 15:33] jauerb commented on #31
This seems to be working for me now.  Just required pip installing geopy (and requests, for search2.py, which was already needed in the old examples).

Thanks for updating!

[2019-03-01 07:33] dellnoantechnp commented on #30
### SSLSocket.version()
Return the actual SSL protocol version negotiated by the connection as a string, or None is no secure connection is established. As of this writing, possible return values include "SSLv2", "SSLv3", "TLSv1", "TLSv1.1" and "TLSv1.2". Recent OpenSSL versions may define more return values.

New in version 3.5.

---
        if sys.version_info >= (3, 5):
            protocol_ver

[2019-03-01 13:08] brandon-rhodes commented on #30
Oh, neat! The next time I return to these fopnp examples to update them, I'll include this fix.

[2019-04-05 05:47] Thyagutamizhan opened #32 "To recieve data contiuously from tcp barcode scanners"
HI there, Actually im a beginner for python. I wanna recieve data contiuously from multiple  tcp connected barcode scanners.

[2019-04-07 18:37] brandon-rhodes commented on #32
Alas, the book does not cover barcode protocols specifically, so none of the examples here from the printed book illustrate those protocols — have you tried doing a Google search to see if anyone has sample code up? What is the protocol called?

[2019-04-11 17:26] jauerb opened #33 "Chapter 6 Certificate no longer accepted in Python 3.7"
It seems that with Python 3.7 using create_default_context will no longer accept your example certificate.

[code]

This works fine in 3.6

[2019-04-11 17:29] jauerb commented on #33
I should mention that I get this on the client when running
`python safe_tls.py localhost 9000 -a ca.crt`

[2019-04-11 17:35] brandon-rhodes commented on #33
I wonder why it doesn't like the certificate any more? A more detailed error message from it would have been helpful. I'll see if I can find time soon to take a look. I guess I'll have to install Python 3.7 for the first time!

[2019-04-11 18:00] jauerb commented on #33
I am not entirely sure.  Unfortunately that's the whole error message, but here's the stack trace in case useful

[code]

[2019-04-11 18:03] jauerb commented on #33
I am not sure, and unfortunately that is the whole error message, but here is the full stack trace in case useful
[code]

[2019-04-18 18:42] jauerb commented on #33
So I think I figured out the source of the problem.  You are using the CN to verify the domain name, but this has officially been deprecated since 2000 (see RFC 2818)!

To work with Python 3.7 the domain name must be defined in the Subject Alternative Name (SAN) section (i.e. extension) of the certificate.

[2019-04-18 19:03] jauerb commented on #33
FYI: I was able to make this work generating CA and server certs following this blog post: https://deliciousbrains.com/ssl-certificate-authority-for-local-https-development/

[2019-04-18 23:52] brandon-rhodes commented on #33
Wow, thanks for working out the problem! Any interest in opening a pull request to contribute those certificates — were you able to update the certificate generating script to match the new requirements?

[2019-08-15 16:04] #33 closed, assigned to brandon-rhodes

[2019-08-15 16:06] brandon-rhodes commented on #33
Thanks again for reporting this error. I started a deep dive into the issue yesterday, and this morning have isolated the root cause: the CA was not actually labeled with `CA:TRUE` in its `basicConstraints`. I have regenerated the entire stack of certificates atop a new CA (thank goodness I wrote a Makefile, so I didn't need to reconstruct all the commands!) and no longer get the error cited. Let

[2019-08-15 16:22] brandon-rhodes commented on #32
I'm going to close this issue pending further information about the protocol used by the barcode scanners, but feel free to re-open once you have more information!

[2019-08-15 16:22] #32 closed, assigned to nobody

[2019-08-15 16:26] #30 closed, assigned to brandon-rhodes

[2019-09-15 02:37] rlefever commented on #16
Let me start by saying thanks for all the effort you have put into this. i am enjoying the book.

I Tried to set this up on Ubuntu 16.04 and had issues. Using vagrant I get up to vagrant up but it times out and I am never able to get further. The VM seems to be running and the 2222 port is there but it does not seem to be talking to anything on the VirtualBox side. unsure how to trouble shoot this

[2019-09-15 12:37] brandon-rhodes commented on #16
@rlefever Your problems remind me of the symptoms that I have seen when the IP addresses of part of a machine’s network are overlapping with the range of IP addresses that Docker is trying to use — only, of course, you are using raw VirtualBox and Vagrant. But a problem with connectivity would explain why Vagrant is timing out, if the packets were going to the wrong network interface?

[2019-09-15 20:13] rlefever commented on #16
So, Windows 7 running VirtualBox.

Vagrant Host is a Ubuntu 16.04 VM running Vagrant and VirtualBox.
Docker Host is an Ubuntu 16.04 VM running Docker.

The Vagrant Host shows enp0s3 as 10.0.2.15/24 and the lo. network is set
to NAT in Main host VirtualBox settings.

The Docker host is showing docker0 as 172.17.0.1/16 and enp0s3 at
192.168.100.251/24 again a VM in VirtualBox, network set to Bridge.

[2019-09-16 00:25] brandon-rhodes commented on #16
Alas, I have never tried running with a vagrant host separate from the docker host. Without a couple of hours to sit down with your computer and explore which network connections and pings do and don’t work between the different hosts, I doubt if I could make any headway in figuring out how to get the different hosts talking successfully.

[2019-09-16 01:29] rlefever commented on #16
I was hoping you could direct me to the files I needed to modify to
attempt making the corrections. Especially since I used the directions in
the README and the issue to get to this point. I find I learn best doing
troubleshooting.

Any guidance would be appreciated but I understand you cannot be expected
to maintain the playground forever and on every possible environment.

Any and all assistance

[2019-09-16 02:55] rlefever commented on #16
Seems that where I am on the Vagrant box is that I cannot talk to the VM
to start the Docker containers. It seems the box.ovf says the vmname and
uuid are different that what are reported running by 'VBoxManage list
runningvms'.

The box.ovf says vmname is playground_<numbers>_<numbers>. The running one
is <user>_<numbers>_<numbers>.

[2019-09-17 15:26] rlefever commented on #16
I think I have discovered the reason Option A (Vagrant Host) of the
playground would not work for me. It seems the VirtualBox VM requires
AMD-V support and I am running an Intel CPU. The VM therefore fails to
start is why the SSH connection never works. I cannot find a way around
that.

Any ideas on where to start to get networking operational on the Option B
(Docker Host)? I am not running boot2d

[2019-09-19 18:55] rlefever commented on #16
On the Option B docker only setup I have used

https://success.docker.com/article/troubleshooting-container-networking

to determine which hosts can or cannot talk to each other. Seems the
endpoints cannot talk to their respective 'router's (modemA, modemB, and
example). I have also found that the iptables -L command returns:

iptables v.1.8.3 (legacy): can't initialize iptables table 'filter':
Pe

[2019-09-20 20:22] brandon-rhodes commented on #16
I’ve just gone into the `requirements.txt` files and added the exact
version numbers of each package that are installed in the official
playground image.  This means that folks building the playground
themselves (a) should no longer have errors because newer versions of
some packages require a more recent version of pip, and (b) that the
home-made playground they come out with should work the same

[2019-09-22 22:26] rlefever commented on #16
You are awesome! Option B (Building the Playground) works like a champ.

Thank you so much for taking the time to make it work.

[2019-09-22 23:52] brandon-rhodes commented on #16
I'm glad the fix got things working for you again, and that you're able to learn more about networking thanks to the example network!

[2019-12-12 20:26] konjecturer0 opened #35 "chapter 08 memcache not working"
Running chapter08/squares.py just hangs up. It looks like the library memcache is not working like before.

`#!/usr/bin/env python3
# Foundations of Python Network Programming, Third Edition
# https://github.com/brandon-rhodes/fopnp/blob/m/py3/chapter08/squares.py
# Using memcached to cache expensive results.

import memcache, random, time, timeit

def compute_square(mc, n):
    value = mc.get('sq

[2019-12-13 14:32] brandon-rhodes commented on #35
Can you connect to your memcache instance with other tools, like `telnet 127.0.0.1 11211`?

[2019-12-13 14:59] konjecturer0 commented on #35
I'm unable to telnet. But after running the script again and waiting some time the following result pops up:
`Ten successive runs:
 3.97s 3.97s 3.97s 3.94s 3.95s 3.94s 3.96s 3.94s 3.96s 3.91s`

Which looks to be by far much different than that of the book.
Furthermore when creating a memcache instance (using python 3.7.5) a result different from the book also seems to prompt:
`>> import memcache`

[2019-12-13 17:15] brandon-rhodes commented on #35
I recommend first working purely with memcache and telnet until you have a reliable connection you can set up by hand. Only then, when I knew memcache was working well, would I turn my attention to trying to talk to memcache with a scripting language like Python.

[2020-02-02 23:27] brandon-rhodes commented on #35
@vladic4t I wanted to check back now that it’s February! Did you make progress on determining why you were not able to connect to the memcache instance you had installed?

[2020-04-17 08:12] brandon-rhodes commented on #35
Pending more information about your experiment with memcache, I'm going to close this for now, but please feel free to comment further if you have more questions!

[2020-04-17 08:12] #35 closed, assigned to nobody

[2021-06-06 07:16] mariuskimmina opened #38 "Capture 11 app_insecure doesn't start with flask version >2.0.0"
Hey,

when trying to start the insecure application with `python3 app_insecure.py` I'm stuck with the follwoing error:

[code]

which seems to come from this line
[code]

Running the app_improved.py works without any issues.

Python Version: 3.9.1
Flask Version: 2.0.1

When I downgraded to flask 1.1.4 app_insecure.py works as expected.
Hope this issue can be a reference for anyone else coming accr

[2021-06-06 22:05] brandon-rhodes commented on #38
Thanks for opening an issue to alert other users to the problem, and suggesting the quick fix of downgrading Flask. It’s been several years since I’ve kept up with the Flask project, so I’m not sure what’s changed that broke the old way of creating an Environment. If I get extra time within the next few months, I might look into the issue, or maybe another user will dive in and offer a fix before